.about{
  padding:7%;
  line-height:150%;
  animation: fadein 1s forwards;
}

@media only screen and (min-width:900px){
  .about{
    font-size:2vw;
}
  }
  

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
