header {
	box-sizing: border-box;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	z-index: 7;
	margin: 0 auto;
	background: linear-gradient(green, (#3d9ae0));
	padding: 0 3vw;
	width: inherit;
	max-width: 1440px;
	height: 8vh;
	font-family: "Southland";
	font-size: 120%;
	// justify-content: center;
	// background: linear-gradient(green, (#f5f9fc));
	// padding: 0 5vw;
	a {
		display: flex;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		// transform: translate(0, 0);
		h4 {
			transform: translate(0%, 350%) rotate(-10deg);
			z-index: 1;
			margin: 0;
			text-shadow: 10px 5px 10px rgb(0, 0, 0), 10px 5px 10px rgb(0, 0, 0);
			line-height: 1px;
			color: white;
			font-family: "Southland";
			font-size: 10vw;
			font-weight: 600;
			// position: relative;
			span {
				font-size: 13vw;
			}
		}
		p {
			margin: 0;
			margin-left: 2vw;
			color: rgb(61, 71, 161);
			font-family: arial;
			font-size: 2vw;
		}
	}
	nav {
	}
	.search-form {
		flex: .2;
		padding: 0 3%;
	}
	.burger {
		display: flex;
		align-items: center;
		cursor: pointer;
		height: 100%;
		color: white;
		font-size: 8vw;
	}
	.username {
		transform: scaleX(1.2);
		border: 1.5px solid;
		border-radius: 50%;
		background: blue;
		padding: 1%;
		color: white;
		font-family: 'Arial';
		font-size: 2vw;
		min-width: 3%;
		max-width:3%;
		min-height:10%;
		text-align:center;
		text-transform:uppercase;
	}
}
.menu-items {
	cursor: pointer;
	padding: 3%;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 2vw;
	ion-icon {
		border: 1.5px solid;
		border-radius: 50%;
		padding: 30%;
		font-size: 3vw;
		// transform: translateY(12%);
	}
	nav {
		display: flex;
		align-items: center;
		a {
			padding: 0 3vw;
		}
	}
}
@media only screen and (min-width: 600px) {
	header {
		.menu-items {
			ion-icon {
				font-size: 2vw;
			}
		}
		a {
			h4 {
				transform: translate(0, 450%) rotate(-10deg);
			}
			p.attribution {
				font-size: 1.3vw;
			}
		}
	}
}
@media only screen and (min-width: 900px) {
	header {
		a {
			h4 {
				transform: translate(0, 400%) rotate(-10deg);
			}
			p.attribution {
				font-size: 1vw;
			}
		}
		nav {
		}
	}
	.menu-items {
		font-size: 1.2vw;
	}
}
@media only screen and (min-width: 1200px) {
	header {
		a {
			h4 {
				transform: translate(0%, 400%) rotate(-10deg);
				font-size: 5vw;
				span {
					font-size: 5.5vw;
				}
			}
			p.attribution {
				font-size: 1vw;
			}
		}
		.username {
			font-size: 1vw;
		}
	}
}
