header {
	display: flex;
	// justify-content: center;
	// background: linear-gradient(green, (#f5f9fc));
	background: linear-gradient(green, (#3d9ae0));
	justify-content: space-around;
	// padding: 0 5vw;
	height: 8vh;
	font-family: "Southland";
	position: fixed;
	margin: 0 auto;
	padding: 0 3vw;
	box-sizing: border-box;
	z-index: 7;
	width: inherit;
	max-width: 1440px;
	font-size:120%;
	align-items: center;


	.burger {
		font-size: 8vw;
		color: white;
		cursor: pointer;
		height:100%;
		display:flex;
		align-items: center;
	}
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
		// transform:translate(0, 0);

		h4 {
			transform: translate(0%, 350%) rotate(-10deg);
			z-index: 1;
			// position:relative;
			line-height: 1px;
			margin: 0;
			text-shadow: 1px 1px green;
			color: white;
			font-size: 11vh;
			font-weight: 600;
			text-shadow: 10px 5px 10px rgb(0, 0, 0), 10px 5px 10px rgb(0, 0, 0);
			font-family: "Southland";

			span {
				font-size: 14vh;
			}
		}
		p {
			margin: 0;
			font-family: arial;
			font-size: 2vw;
			color: rgb(201, 25, 177);
			color: rgb(61, 71, 161);
			margin-left: 2vw;
		}
	}
	
}
.menu-items, .username {
  padding: 3%;
  color: rgb(255, 255, 255);
  font-size: 2vw;

  font-family: Arial;
  cursor: pointer;

	ion-icon{
		font-size:3vw;
			border:1.5px solid;
			border-radius:50%;
			padding:30%;
			// transform:translateY(12%);
			
	}
  nav {
    display: flex;
    align-items: center;

    a {
      padding: 0 3vw;
    }
  }
}
.username{
	font-family:'Vegan';
	font-size:120%;
	padding:30%;
	border:1.5px solid;
	border-radius:50%;
	transform: scaleX(1.2);
	background:blue;
}

@media only screen and (min-width: 600px) {
	header {
		.menu-items{
			ion-icon{
				font-size:2vw;
			}
		}
		a {
			h4 {
				transform: translate(0, 450%) rotate(-10deg);
			}
			p.attribution {
				font-size: 1.3vw;
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	header {
		a {
			h4 {
				transform: translate(0, 400%) rotate(-10deg);
			}
			p.attribution {
				font-size: 1vw;
			}
		}
	}
	.menu-items {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 1200px) {
	header {
		a {
			h4 {
				transform: translate(0%, 400%) rotate(-10deg);
			}
			p.attribution {
				font-size: 1vw;
			}
		}
	}
}
