.home{
  display:flex;

  height:100%;
  box-sizing: border-box;
  section{
    flex:1;
  }
  .item-info-wrapper{
    background:white;
   
    
    
    
    .item-info{
      display:flex;
      font-family:Arial;
      div{
        flex:1;
      }

      // flex:1;
    }
  }
  img{
    width:30%;
  }
}