.home {
  display: flex;

  height: 100%;
  box-sizing: border-box;
  section {
    flex: 1;
  }
  .item-info-wrapper {
    background: white;
    Maitre
    .item-info {
      display: flex;
      font-family: Roboto;
      
      color:green;
      font-size:3vw;
      div {
        flex: 1;
      }
      :nth-child(3){
        flex:.25;
      }

      // flex:1;
    }
  }
  img {
    width: 30%;
  }
}
