.fade-out{

  animation: fadein 2s forwards;
 
}

.home {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-sizing: border-box;
  // opacity:0;
  animation: fadein 2s forwards;
  position: relative;
  width: 100%;

  section {
    // flex: 1;
    width: 100%;
    // min-height: 20vh;
    // min-height: 70%;
    position: relative;
    margin-top: 1vh;
  }
  .item-info-wrapper {
    background: white;
    padding-top: 5vh;
    min-height: 50vh;
    overflow-y: scroll;
    position: relative;
    

    .save-button {
      display: flex;
      justify-content: flex-end;
      margin: 0 4vw;

      input.recipe-name {
        border: 0;
        // z-index: inherit;
        // border-bottom:solid 1px;
        height: 30px;
        outline: none;
        width: 200%;
        font-size:4vw;
      }
      button {
        font-size: 3vw;
        // visibility: hidden;
      }

      .save-recipe {
        color: blue;
        background: transparent;
        border: 0;
      }
    }
    .menu-item {
      display: flex;
      letter-spacing: 0.2vw;
      width: 85%;
      margin: 3vh auto 2vh;
      justify-content: space-between;
      color: green;
      font-size: 4vw;
      // font-weight: 600;
      font-family:arial;
      span {
        padding: .5vw;
      }
      &:hover {
        background: lightgrey;
      }
    
      .remove-X {
        font-size: 3vw;
        
      }
      
      
    }
    form.item-input {
      width: 85%;
      display: flex;
      // margin-top:5vh;
      margin: 0 auto;
      input {
        width: 100%;
        padding: 1vw;
        font-size: 4vw;
        margin: 3vh auto;
        border: 0;
        border-bottom: 1px solid;
        outline: none;
      }
      button {
        border: 0;
        background: 0;
        font-size: 4vw;
       transform:translateX(5px);
      }
    }
  }
  img {
    width: 30%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .home {
    flex-direction: row;
    section {
      height: 85%;
      width: 50%;
    }
    .item-info-wrapper {
      margin-top: 1vh;
      .save-button{
        input.recipe-name{
          font-size:2vw;
        }
        button{
          font-size:1.5vw;
        }
      }
      .menu-item {
        font-size: 2vw;
        .remove-X {
          font-size: 2vw;
        }
      }
      form.item-input {
        input {
          font-size: 2vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .home {
    section {
    }
    .item-info-wrapper {
      margin-top: 1vh;
      .menu-item {
        font-size: 2vw;
        .remove-X {
          font-size: 2vw;
        }
      }
    }
    form.item-input {
      font-size: 1px;
      input {
        font-size: 2vw;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (min-height: 1000px) {
  .home {
    flex-direction: row;

    section {
      max-height: 30%;
    }
  }
}
.item-info-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-info-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
