.home {
  display: flex;

  height: 100%;
  box-sizing: border-box;
  section {
    flex: 1;
  }
  .item-info-wrapper {
    background: white;

    .menu-item{
      display:flex;
      margin:1vh 1vw;
      width:100%;
      justify-content: space-between;
      .css-2b097c-container{
       width:90%;
      }
      
    }
  }
  img {
    width: 30%;
  }
}
