.layout {
  height: 100vh;
  border: 1px yellow solid;
  width: 95%;
  margin: 2vh auto;

  .layout-children {
    display:flex;
    height:70%;
    > div{
      flex:1;
      // padding:1vw;
      > section{
        padding:1vw;
      }
    }
  }
}
