.layout {
  height: 100%;
  // border: 1px black solid;
  width: 100%;
  position:relative;

  .layout-children {
  margin: 3vh auto;

    display:flex;
    height:100%;
    width:100%;
  
    > div{
      flex:1;
      // padding:1vw;
      > section{
        // padding:1vw;
      }
    }
  }
}
