.layout {
  height: 100%;
  // border: 1px black solid;
  width: 100%;
  margin: 5vh auto;
  position:relative;

  .layout-children {
    display:flex;
    height:100%;
    width:100%;
  
    > div{
      flex:1;
      // padding:1vw;
      > section{
        // padding:1vw;
      }
    }
  }
}
