.nav{
  background-image:linear-gradient(to right, rgb(194, 235, 171), rgb(91, 91, 230));
  height:8vh;
  display:flex;
  justify-content:space-around;
  padding:0 5vw;
  align-items:center;
}

.selections{
  margin-top:50vh;
  width:30%;
  height:500%;
  overflow-Y:scroll;
  background:red;
  color:black;
}