.nav {
	display: flex;
	// justify-content: center;
  // background: linear-gradient(green, (#f5f9fc));
	background: linear-gradient(green, (#3d9ae0));
  justify-content:space-between;
	padding: 0 5vw;
	height: 8vh;
	font-family: 'Southland';
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		h4 {
			transform: translate(0, 430%) rotate(-2deg);
			z-index:1;
// position:relative;
			line-height:1px;
			margin: 0;
			text-shadow: 1px 1px green;
			color: white;
      font-size: 11vh;
      font-weight: 600;
			text-shadow:10px 5px 10px rgb(0, 0, 0),10px 5px 10px rgb(0, 0, 0) ;
			font-family:'Southland';
      // letter-spacing: 0.4vw;
      // -webkit-text-stroke:1px green;
    //   -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
			span {
				font-size: 14vh;
			
			}
		}
		p {
			margin: 0;
			color: rgb(201, 25, 177);
		}
	}
	div{
		color:white;
		font-size:2vw;
	}
}
.selections {
	margin-top: 50vh;
	background: red;
	width: 30%;
	height: 500%;
	overflow-y: scroll;
	color: black;
}
