.nutrition-label {
    max-height: 60%;
    color: green;
    .nutrition-facts {
        box-sizing: border-box;
        margin: 0 auto;
        border: 1px solid;
        border-radius: 2vw;
        background: rgba(255, 255, 255, 1);
        padding: 3%;
        width: 90%;
        height: 100%;
        overflow: scroll;
        // height: 100%;
        span {
            padding: 1vw;
            font-size: 2vw;
        }
        h1 {
            font-family: "Helvetica_Black", arial;
            font-size: 6vw;
            font-weight: bold;
        }
        h3 {
            font-size: 18p;
        }
        h4 {
            font-family: "Helvetica_Black", arial;
        }
        h1,
        h3,
        h4,
        h6 {
            margin: 0;
        }
        h6 {
            padding-right: 1vw;
        }
        .serving {
            display: flex;
            justify-content: space-between;
            border-bottom: 7px solid;
            padding: 0.5vh 0;
            .serving-per-container-wrapper {
                max-width: 50%;
                display: flex;
                justify-content: space-between;
            }
            span {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                flex: 1;
                max-width: 50%;
                h6 {
                    font-size: 3vw;
                    max-width: 50%;
                    // flex:1;
                    .serving-per-container {
                        max-width: 50%;
                    }
                }
                h6 {
                    &:nth-child(2) {
                        display: flex;
                        justify-content: flex-end;
                        height:50%;
                    }
                }
            }
        }
        .amnt-per-serving {
            margin: 0.5vh 0;
        }
        .perc-daily-val {
            display: flex;
            justify-content: flex-end;
            margin: 0.5vh 0 0;
            font-family: "Helvetica_Black", arial;
            font-size: 12px;
            font-weight: bold;
        }
        .primary,
        .secondary {
            padding: 0.5vh 0;
        }
        .primary {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid;
        }
        .secondary {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            border-top: 1px solid;
            width: 90%;
        }
        .chol {
            border: 0;
        }
        .protein {
            border-bottom: 7px solid;
            padding: 1vh 0 1vw;
        }
        .potassium {
            padding-top: 2vh;
        }
    }
}
.vitA,
.vitC,
.calcium,
.iron,
.potassium {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0.3vw;
}
#arrow {
    position: absolute;
    right: 0;
    bottom: 3vh;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    background: white;
    color: green;
    font-size: 12vw;
}
@media only screen and (min-width: 600px) {
    .nutrition-label {
        max-height: 65%;
        // border: 2px solid red;
        .nutrition-facts {
            border-radius: 0;
            padding: 2vw;
            width: 85%;
            h1 {
                font-size: 3vw;
            }
            .serving {
                span {
                    h6 {
                        font-size: 1.25vw;
                    }
                }
            }
        }
        #arrow {
            font-size: 6vw;
        }
    }
}
@media only screen and (min-width: 900px) {
    .nutrition-label {
        .nutrition-facts {
            h1 {
                // font-size: 3vw;
            }
            h3 {
                font-size: 1.7vw;
            }
            h4 {
                font-size: 1.5vw;
                font-weight: lighter;
            }
        }
    }
}
@media only screen and (min-width: 1600px) {
    .nutrition-label {
        .nutrition-facts {
            h1 {
                font-size: 2vw;
            }
            h3 {
                font-size: 1.4vw;
            }
            h4 {
                font-size: 1.3vw;
                font-weight: lighter;
            }
            .serving {
                span {
                    h6 {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 600px) and (min-height: 900px) and (orientation: portrait) {
    .nutrition-label {
        max-height: 45%;
        .nutrition-facts {
        }
    }
}
.nutrition-facts::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.nutrition-facts {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}
