.recipes {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 5vh 5vw;
  a {
    text-decoration: none;
    .recipe-name {
      // color: purple;
      color:blue;
      font-size: 5vw;
      font-weight:600;
      margin: 2vh 0;
    }
  }
}

@media only screen and (min-width:600px){

  .recipes{
    a{
      .recipe-name{
        font-size:3vw;
      }
    }
  }
}

@media only screen and (min-width:900px){

  .recipes{
    a{
      .recipe-name{
        font-size:2vw;
      }
    }
  }
}