.fade-out {
  animation: fadein 2s forwards;
}

.recipe-detail {
  display: flex;
  flex-direction: column;

  height: 100%;
  
  box-sizing: border-box;
  // opacity:0;
  animation: fadein 2s forwards;
  position: relative;
  width: 100%;
  margin-top:10vh;

  section {
    // flex: 1;
    width: 100%;
    // min-height: 20vh;
    // min-height: 70%;
    position: relative;
    margin-top: 1vh;
  }
  .item-info-wrapper {
    background: #f5f9fc;
    padding-top: 5vh;
    height: 30%;
    overflow-y: scroll;
    position: relative;
    // border:solid;
    width:95%;
    margin:0 auto;

    .save-button {
     
      // margin: 0 4vw;
      width:100%;

      input.recipe-name {
        border: 0;
        // z-index: inherit;
        // border-bottom:solid 1px;
        height: 6vh;
        outline: none;
        // width: 200%;
       
        // transform: translate(-2vw, 0.25vh);
        background-color:#f5f9fc;

        &:hover {
          transform: scale(1);
        }
      }

      button.save-recipe {
        color: blue;
        transform: scale(.9);
        margin-bottom: 3vh;
        // background: transparent;
        // border: 1px solid blue;
      }
    }
    .menu-item {
      display: flex;
      letter-spacing: 0.1vw;
      width: 85%;
      margin: 3vh auto 2vh;
      justify-content: space-between;
      color: green;
      font-size: 4vw;
      background-color:#f5f9fc;


      // font-weight: 600;
      font-family: arial;
      span {
        padding: 0.5vw;
      }white
      &:hover {
        background: lightgrey;
      }

      .remove-X {
        font-size: 3vw;
      }
      form.edit-item-form{
        // width:120%;
        margin:0 10% 0 0;
        background-color:#f5f9fc;

        input{
          padding:0;
          width:85%;
          background-color:#f5f9fc;

        }
        button{
          border:none;
          background:transparent;
        }
        
      }
      
    }
    form.add-item-form{
      width: 85%;
      display: flex;
      // margin-top:5vh;
      margin: 0 auto;
      input {
        width: 100%;
        padding: 1vw;
        font-size: 4vw;
        margin: 3vh auto;
        border: 0;
        border-bottom: 1px solid;
        outline: none;
        background-color:#f5f9fc;

      }
      button {
        border: 0;
        background: 0;
        font-size: 3vw;
        transform: translateX(5px);
      }
    }
  }
  img {
    width: 30%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .recipe-detail {
    flex-direction: row;
    section {
      // height: 85%;
      width: 45%;
    }
    .item-info-wrapper {
      margin-top: 1vh;
      height:60%;
      width:50%;
      .save-button {
        input.recipe-name {
          font-size: 2vw;
        }
        button {
          font-size: 1.5vw;
        }
      }
      .menu-item {
        font-size: 2vw;
        .remove-X {
          font-size: 2vw;
        }
      }
      form.add-item-form {
        input {
          font-size: 2vw;
        }
      }
    }
  }
}



@media only screen and (min-width: 900px) {
  .recipe-detail {
    section {
    }
    .item-info-wrapper {
      // max-height:55%;
      margin-top: 1vh;
      .save-button {
        input.recipe-name {
          font-size:1.3vw;
        }
      }

      .menu-item {
        font-size: 1.5vw;
        .remove-X {
          font-size: 1.5vw;
        }
      }
  
    form.add-item-form {
      
      input {
        font-size: 1.6vw;
      }
      button{
        font-size:2vw;
      }
    }
  }  }
}

@media only screen and (min-width: 600px) and (min-height: 900px) and (orientation: portrait) {
  
  .recipe-detail {
    // flex-direction: row;
    .item-info-wrapper{
     max-height:40%;
    }

    section {
      // height: 10%;
    }
  }
}


.item-info-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-info-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
